<div class="form_content graph_content">
  <div class="form_title">Top 10 Repositories</div>

  <form id="graph_form">
    <div id="timerange" class="clearfix" >
      <%= render "layouts/time_range" %>
      <button type="submit" class="bttn" id="graph-btn">Update</button>
    </div>
  </form>

  <div id="graph_detail">
    graph goes here
  </div>

</div>
