<header  class='clearfix'>
  <div id='title'>
    <%= link_to 'GitHub Archive Reports', root_path %>
  </div>

  <nav>
    <ul>
      <li><%= link_to 'Report top 25', links_path %></li>
      <li><%= link_to 'Report top 10', reports_path %></li>
    </ul>
  </nav>
</header>