<header  class='clearfix'>
  <div id='title'>
    <%= link_to 'GitHub Archive Reports', root_path %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Top 25 Repos', links_path %></li>
      <li><%= link_to 'Top 10 Repos', reports_path %></li>
    </ul>
  </nav>
</header>